[submodule "contrib/edbee-lib"]
	path = contrib/edbee-lib
	url = https://github.com/UniSwarm/edbee-lib.git
[submodule "contrib/edbee-data"]
	path = contrib/edbee-data
	url = https://github.com/edbee/edbee-data.git
[submodule "contrib/QDarkStyleSheet"]
	path = contrib/QDarkStyleSheet
	url = https://github.com/ColinDuquesnoy/QDarkStyleSheet.git
[submodule "contrib/hexedit2"]
	path = contrib/hexedit2
	url = https://github.com/Simsys/qhexedit2.git
